* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 4;
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
a {
  appearance: none;
  text-decoration: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 3;
}

.bg-wrapper {
  width: 100%;
  height: 765px;
  background-image: url("../assets/bg_header.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: 0;
  z-index: -5;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: #0D606F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}
.btn span {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 500;
}

/* ------------------- header -------------------- */
header {
  width: 100%;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
}
header h2 {
  font-family: "Magra", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 39px;
  font-weight: 600;
  position: relative;
}
header h2::before {
  content: url("../assets/icons/logo.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 6;
  top: 3px;
  right: 7px;
}
header h2:hover {
  cursor: pointer;
}
header .nav-menu {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
  align-items: center;
}
header .nav-menu li {
  list-style-type: none;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 500;
}
header .login-btn {
  width: 6.44rem;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
header .login-btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #0D606F;
  color: #0D606F;
}
header .login-btn:hover span {
  color: #0D606F;
}

/* ------------------- main -------------------- */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore {
  width: 62%;
  margin: 32px 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  margin-bottom: 16.7%;
}
.explore .explore__title {
  font-family: "Aleo", serif;
  font-size: 5rem;
  color: #FFFFFF;
  line-height: 6rem;
  font-weight: 700;
  margin-bottom: 46px;
}
.explore .explore__subtitle {
  font-family: "Aleo", serif;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 46px;
}
.explore .explore__search-panel {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.explore .explore__search-panel .input-text {
  width: 62%;
  height: 30px;
  background: transparent;
  border: none;
  text-align: start;
  margin: 34px auto;
  margin-left: 40px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 24px;
  color: #F2785C;
  line-height: 29px;
  font-weight: 400;
  font-style: italic;
}
.explore .explore__search-panel .input-text::placeholder {
  font-family: "Red Hat Text", sans-serif;
  font-size: 24px;
  color: #F2785C;
  line-height: 29px;
  font-weight: 400;
  font-style: italic;
}
.explore .explore__search-panel .input-text:focus, .explore .explore__search-panel .input-text:active, .explore .explore__search-panel .input-text:hover, .explore .explore__search-panel .input-text:focus-within {
  outline: 0;
}
.explore .explore__search-panel .start-search {
  width: 228px;
  height: 59px;
  margin-right: 18px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  font-weight: 500;
}
.explore .explore__search-panel .start-search:hover {
  background-color: #FFFFFF;
  border: 3px solid #0D606F;
  color: #0D606F;
}

/* ------------------- steps -------------------- */
.section-title {
  font-family: "Red Hat Text", sans-serif;
  font-size: 2.5rem;
  color: #F2785C;
  line-height: 3.3rem;
  font-weight: 500;
  margin: 40px;
}

.steps-container {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-bottom: 50px;
}
.steps-container .steps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.steps-container .steps .steps__item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-container .steps .steps__item img {
  display: block;
  width: 100px;
  height: 100px;
}
.steps-container .steps .steps__item span {
  display: block;
  font-family: "Aleo", serif;
  font-size: 20px;
  color: #0D606F;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px;
}

/* ------------------------ destinations slider ----------------------- */
.slider-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}
.slider-container .change-slide-btn {
  position: absolute;
  top: 45%;
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  opacity: 0.2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-bottom: 10px;
  transition: 0.4s;
  font-family: "Red Hat Text", sans-serif;
  font-size: 3rem;
  color: #0D606F;
  line-height: 4rem;
  font-weight: 700;
}
.slider-container .change-slide-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slider-container .forward {
  right: 5%;
  padding-left: 5px;
}
.slider-container .back {
  left: 5%;
  padding-right: 5px;
}
.slider-container .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.slider-container .slider .slide-img {
  display: block;
  width: 800px;
  height: 800px;
}
.slider-container .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  gap: 10px;
}
.slider-container .controls .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(242, 120, 92, 0.5);
}
.slider-container .controls .dot:hover {
  cursor: pointer;
  animation: pulse 1s infinite;
}
.slider-container .controls .checked {
  background-color: #F2785C;
}
.slider-container .find-more {
  width: 228px;
  height: 59px;
  padding-bottom: 25px;
}
.slider-container .find-more span {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  font-weight: 500;
}
.slider-container .find-more span::before {
  content: url("../assets/icons/arrow-right.svg");
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  right: 5px;
}
.slider-container .find-more:hover {
  background-color: #FFFFFF;
  border: 3px solid #0D606F;
  color: #0D606F;
}
.slider-container .find-more:hover span {
  color: #0D606F;
}
.slider-container .find-more:hover span::before {
  content: url("../assets/icons/arrow-right-dark.svg");
}

/* ---------------------- travel stories ------------------ */
.stories-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.stories-container .stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 8%;
}
.stories-container .stories .stories__item {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.stories-container .stories .stories__item .illustration {
  display: block;
  width: 400;
  height: 250px;
}
.stories-container .stories .stories__item .text {
  display: flex;
  flex-direction: column;
}
.stories-container .stories .stories__item .text .text__title {
  font-family: "Aleo", serif;
  font-size: 35px;
  color: #0D606F;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 20px;
}
.stories-container .stories .stories__item .text .text__description {
  font-family: "Aleo", serif;
  font-size: 20px;
  color: #0D606F;
  line-height: 24px;
  font-weight: 400;
}
.stories-container .see-more {
  width: 228px;
  height: 59px;
  padding-bottom: 25px;
  margin: 30px auto;
}
.stories-container .see-more span {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  font-weight: 500;
}
.stories-container .see-more span::before {
  content: url("../assets/icons/arrow-right.svg");
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  right: 5px;
}
.stories-container .see-more:hover {
  background-color: #FFFFFF;
  border: 3px solid #0D606F;
  color: #0D606F;
}
.stories-container .see-more:hover span {
  color: #0D606F;
}
.stories-container .see-more:hover span::before {
  content: url("../assets/icons/arrow-right-dark.svg");
}

.bg-footer-wrapper {
  width: 100%;
  height: 1400px;
  background-image: url("../assets/bg_footer.png");
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: -5;
}

/* ------------------- footer -------------------- */
footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
}
footer .sign {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 500;
  margin-right: 20%;
}
footer .social {
  margin-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .social * {
  width: 33px;
  height: 33px;
}
footer .social *:hover {
  animation: pulse 1s infinite;
}

/*# sourceMappingURL=style.css.map */
